/* LOGIN SCREEN */

.login-bg {
  position: absolute;
  background-color: rgb(82, 32, 113);
  /* background-image: url(https://images.unsplash.com/photo-1622819584099-e04ccb14e8a7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  color: white;
  background-color: rgb(49, 49, 49);
  height: 60vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;
  /* filter: drop-shadow(0 0 2rem rgb(255, 45, 21)); */
}

.login-height{
  height: 60px;
  font-size: 30px;
}

.login-prompt {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.login-button{
  color: white;
  width: 50%;
  height: 60px;
  background-color: rgb(143, 30, 213);
  border: none;
}



.containerr {
  display: flex;
}

.servers{
  display: flex;
  flex-direction: column;
  background-color: #242424;
  height: 100vh;
  width: 72px;
  align-items: center;
  padding: 20px;

}

.server{
  text-align: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: none;
}

.add-server-btn{
  background-color: #3c3c3c;
  color: #45a33c;
}

.add-server-btn:hover{
  background-color: #45a33c;
  color: white;
}

.screen-dimmer{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

.add-server-popup{
  background-color: rgb(177, 177, 177);
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  z-index: 2;
}

.add-server-btn-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.add-server-popup-btn {
  background-color: #3c3c3c;
  color: #ffffff;
  border-style: none;
  height: 50px;
  width: 100px;
  border-radius: 25px;
}

.sidebar{
  background-color: #3c3c3c;
  height: 100vh;
  width: 240px;
}

.topper{
  /* background-color: #00000028; */
  border-bottom: 2px solid #242424;
  display: flex;
  align-items: center;
  padding: 10px;
  height: 50px;
  width: 100%;
}

.main{
  display: flex;
  flex-direction: column;
  background-color: #4d4d4d;
  height: 100vh;
  width: calc(100% - 312px);
}

.lower{
  background-color: #ce8d24;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chat{
  background-color: #37e3db;
  height: 100%;
  width: 100%;
}

.messages{
  background-color: #4d4d4d;
  height: 90%;
  width: 100%;
}

.input{
  background-color: #4d4d4d;
  height: 10%;
  width: 100%;
}

.active{
  background-color: #3c3c3c;
  height: 100%;
  width: 30%;
}


button:hover {
  cursor: pointer;
}

a {
  color: rgb(45, 149, 252) !important;
  text-decoration: none !important;
}

h5{
  margin: none;
  padding: none;
}

h3{
  color: white;
}

.red{
  color: red;
  visibility: visible !important;
}

.channels{
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 30px; */
}

.channel{
  background-color: rgba(255, 255, 255, 0);
  border-style: none;
  width: 80%;
}
.channel:hover{
  background-color: rgba(255, 255, 255, 0.24);
}

.messages{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message{
  color:white
}